@model IEnumerable<Wardrobe.Models.Shoe>

@{
    ViewBag.Title = "Shoes";
}

<h2>What's Available</h2>

<p>
    @Html.ActionLink("Add Item", "Create")
</p>
<div class="row">

    @*@Html.DisplayNameFor(model => model.Name)

        @Html.DisplayNameFor(model => model.Photo)

        @Html.DisplayNameFor(model => model.Type)

        @Html.DisplayNameFor(model => model.Color)

        @Html.DisplayNameFor(model => model.Season)

        @Html.DisplayNameFor(model => model.Occassion)*@


    @foreach (var item in Model)
    {
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <div class="caption">
                    @Html.DisplayFor(modelItem => item.Name)

                    @if (item.Photo != null)
                    {

                        <img src="@Url.Content(@item.Photo)" />}

                    @*@Html.DisplayFor(modelItem => item.Type)

                        @Html.DisplayFor(modelItem => item.Color)

                        @Html.DisplayFor(modelItem => item.Season)

                        @Html.DisplayFor(modelItem => item.Occassion)*@

                    @*@Html.ActionLink("Edit", "Edit", new { id = item.ShoeID })*@
                    @Html.ActionLink("View", "Details", new { id = item.ShoeID }) |
                    @Html.ActionLink("Remove", "Delete", new { id = item.ShoeID })
                </div>
            </div>
        </div>
    }

</div>
